

/* reset css */
img{
    max-width: 100%;
}

/* ul{
  list-style: none;
} */


/* custom css */
.product {
  border: 1px solid;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  width: 200px;
}

.line-through{
  text-decoration: line-through;
}

.alert-box{
  margin: 1rem 0;
  background-color: rgba(255, 0, 0, 0.5);
  color:white;
  display: block;
  padding: .5rem 1rem;
  width: max-content;
}


.dark{
  background-color: #333;
  color:whitesmoke;
}