/* reset css */
img {
  max-width: 100%;
}

/* ul{
  list-style: none;
} */

/* custom css */
.product {
  border: 1px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 200px;
}

.line-through {
  text-decoration: line-through;
}

.alert-box {
  margin: 1rem 0;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  width: max-content;
}

.dark {
  background-color: #333;
  color: whitesmoke;
}

.active-tab {
  color: blue;
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
}

.edit-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-modal .wrapper {
  padding: 1rem;
  background-color: white;
}
